.about-us-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-content: center;
}

.about-us-container > div {
  justify-self: center;
  align-self: center;
}

@media (max-width: 600px) {
  .about-us-container {
    display: block;
  }
}
